
*{
    margin: 0;
    padding: 0;
 
}

body{
    text-align: center;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}
nav {
    width: 100%;
    line-height: 100px;
    margin: auto;
}
nav a{
    
    width: 100%;
    margin: auto;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(img/backgroundoficial.png);
    background-size: cover;
    background-position: center center ;
}

.content-area {
    width: 100%;
    position: relative;
    top: 500px;
    background: #ddd;
    height: 100%;
}
.content-area h2{
    font-family: sans-serif ;
    letter-spacing: 4px ;
    padding-top: 30px;
    font-size: 40px;
    margin:0 ;
}
.content-area p{
    padding: 2% 0 ;
    font-family: 'Montserrat', sans-serif; 
    line-height: 30px;
}

a{
    padding: 2% 0 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
}
#contatos {
    background-color: ddd(224, 213, 213);
    border: 100%;
}
.formulario {
    border: solid 10px black;
    border-radius: 40px;
    height: 500px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#email , #nome , #assunto , #msg {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: black;
     width: 250px;
     height: 30px;
     padding-left: 10px;

}
#botao {
    background-color: #4caf50 ;
    padding: 14px 40px;
    border-radius: 20px;
}
.galeria img {
    border: solid 2px black;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    display: inline-block;
}
.noticias {
    border: solid 4px black;
    border-radius: 40px;
}
.onde a{
    font-size: large;
    color: red;
}